 
    img {
        width: 250px;
        height: 250px;
        background-color: gray;
        background-image: blue;
        padding: 100px;
    }
    div {
        margin: 10px;
        text-align: center;
    }
    
    footer {
        background-color: gray;
        color: black;
        padding: 50px;
       
    }
    
    
  
 