 
    img {
        width: 250px;
        height: auto;
        background-color: gray;
        background-image: blue;
        padding: 100px;
    }
    div {
        margin: 10px;
        text-align: center;
    }
    
    footer {
        background-color: gray;
        color: black;
        padding: 50px;
       
    }

    h1 {
        font-size: 2.75rem;
        margin: 0.10rem;
        font-family: 'Titan One', cursive;
    }
    h2, h3 {
        font-family: 'Handlee', cursive;
    }




    
    
  
 