
body {
    margin: 0;
    }
h1, h2, h3 {
    font-family: Impact, Haettenschweiler, sans-serif;
    }
p {
    font-family: Verdana, sans-serif;
    }
    
.header {
    background-color: darkcyan;
    height: 90px;
    text-align: center;
    color: darkgray;
    padding: 5px;
    }
.webpage-1 {
    text-align: center;
    background-color: dimgrey;
    width: 33.33%;
    float: center;
    }
.webpage-2 {
    background-color: gray;
    width: 33.33%;
    float: left;
    }
.webpage-3 {
    background-color: lightslategray;
    width: 33.33%;
    float: right;
    }
.footer {
    text-align: center;
    background-color: slateblue;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    clear: both;
    }

img {
    width: 200px;
    margin: 0 auto;
    height: auto;
    border-style: none;
    padding: 1px;
    float: left;
    }
