/* medium.css */
section.hero {
    background-image: url('../images/wdd230-medium-org.jpg');
}


.gallery {
    grid-template-columns: 1fr 1fr;
  }
  
/* medium.css */
header .logo {
    margin: 0.5em 1.5em 0.25em 1.5em;
    width: auto;
    height: 6.8em;
  }
  
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  main > .hero {
    grid-column: 1 / 4;
    height: 17.5em;
    width: 100%;
  }
  
  main > .contact {
    grid-column: 1 / 4;
  }
  
  main > .details {
    grid-column: 1 / 2;
    width: 100%;
  }
  
  main > .content {
    grid-column: 2 / 4;
    width: 100%;
    align-self: flex-start;
    gap: 1em;
  }
  
  main .featured {
    width: 100%;
  }
  
  /* home */
  main.home .featured > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main.home .featured li {
    max-width: 33%;
  }
  
  main.home .featured img {
    max-height: 4.5em;
    max-width: 100%;
    width: auto;
  }
  
  main.home .content {
    flex-direction: column-reverse;
  }
  
  
  
  /* directory */
  main.directory.grid > ul {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
  }
  
  /* contact */
  main.contact h1 {
    padding: 0 1em;
  }
  
  /* join */
  main.join h1 {
    padding: 0 1em;
  }
  main.join p {
    padding: 0 2em;
  }
  