/* small.css */


header .wrap {
  display: block;
  text-align: center;
}

header {
  height: auto;
}

header .logo {
  margin: 0 1.5em 0 1.5em;
  max-width: 100%;
  height: auto;
}

nav {
  padding: 0;
}

nav ul {
  flex-direction: column;
  justify-content: center;
}

nav a {
  display: block;
}

nav li:first-child {
  display: list-item;
}

nav li {
  display: none;
}

nav.open li {
  display: list-item;
}

main {
  gap: 0.5em;
  padding: 0.5em 0;
  grid-template-columns: 1fr;
}

main > .hero {
  grid-column: 1 / 2;
  height: 17.5em;
  width: 100%;
}

main > .contact {
  display: block;
  grid-column: 1 / 2;
}

main > .contact .map {
  margin-right: 0;
  margin-bottom: 1em;
}

main > .details {
  grid-column: 1 / 2;
  width: 100%;
}

main > .content {
  grid-column: 1 / 2;
  width: 100%;
  gap: 0.5em;
}

/* home */
main.home .featured > ul > li > a {
  margin: 1em 2em;
}

main.home > .content {
  flex-direction: column-reverse;
}


/* directory */
main.directory.grid > ul {
  grid-template-columns: 1fr;
  gap: 0.5em;
}

main.directory.list li {
  display: block;
}

main.directory.list li > * {
  display: block;
}



main.contact section.form {
  grid-template-columns: 1fr;
}

/* join */
main.join h1 {
  padding: 0 1em;
}

main.join p {
  padding: 0 2em;
}

main.join form {
  grid-template-columns: 1fr;
}

main.join form label,
main.join form input,
main.join form textarea {
  display: block;
  width: 100%;
  text-align: left;
}

main.join form legend,
main.join form .footer {
  padding-left: 0;
}

/* small.css */

section.hero {
  background-image: url('../images/wdd230-small-org.jpg');
}
main {
  display: block;
  text-align: center;
  grid-template-columns: 1fr;
}

header .wrap {
  display: block;
  text-align: center;
}

header {
  height: auto;
}

header h1 {
  font-size: 2em;
}

nav {
  padding: 0;
}

nav ul {
  flex-direction: column;
  justify-content: center;
}

nav a {
  font-size: 1.25em;
  padding: 1em;
  display: block;
}

main.home {
  display: block;
  text-align: center;
  grid-template-columns: 1fr;
}

nav li:first-child {
  display: list-item;
}

nav li {
  display: none;
}

nav.open li {
  display: list-item;
}
.contact {
  display: block;
}
.main-story img {
  float: none;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 28.125em;
  height: auto;
}
@media screen and (max-width: 34em) {
  section.hero {
    aspect-ratio: auto;
    height: 15em;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .join legend {
    margin-left: 0;
  }
  
  .join .section {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  
  .join .section > *:nth-child(odd) {
    justify-self: flex-start;
    margin-bottom: 0.5em;
  }
  
  .join .section > *:nth-child(even) {
    justify-self: stretch;
    margin-bottom: 1em;
  }
  
  .join input {
    width: 100%;
  }
  
  .join .radio-group input {
    width: auto;
  }
}
