/* small.css */


header .wrap {
  display: block;
  text-align: center;
}

header {
  height: auto;
}

header .logo {
  margin: 0 1.5em 0 1.5em;
  max-width: 100%;
  height: auto;
}

nav {
  padding: 0;
}

nav ul {
  flex-direction: column;
  justify-content: center;
}

nav a {
  display: block;
}

nav li:first-child {
  display: list-item;
}

nav li {
  display: none;
}

nav.open li {
  display: list-item;
}

main {
  gap: 0.5em;
  padding: 0.5em 0;
  grid-template-columns: 1fr;
}

main > .hero {
  grid-column: 1 / 2;
  height: 17.5em;
  width: 100%;
}

main > .contact {
  display: block;
  grid-column: 1 / 2;
}

main > .contact .map {
  margin-right: 0;
  margin-bottom: 1em;
}

main > .details {
  grid-column: 1 / 2;
  width: 100%;
}

main > .content {
  grid-column: 1 / 2;
  width: 100%;
  gap: 0.5em;
}

/* home */
main.home .featured > ul > li > a {
  margin: 1em 2em;
}

main.home > .content {
  flex-direction: column-reverse;
}

/* city */
main.city > .content {
  flex-direction: column;
}

/* directory */
main.directory.grid > ul {
  grid-template-columns: 1fr;
  gap: 0.5em;
}

main.directory.list li {
  display: block;
}

main.directory.list li > * {
  display: block;
}

/* contact */
main.contact h1 {
  padding: 0 1em;
}

main.contact section.form {
  grid-template-columns: 1fr;
}

/* join */
main.join h1 {
  padding: 0 1em;
}

main.join p {
  padding: 0 2em;
}

main.join form {
  grid-template-columns: 1fr;
}

main.join form label,
main.join form input,
main.join form textarea {
  display: block;
  width: 100%;
  text-align: left;
}

main.join form legend,
main.join form .footer {
  padding-left: 0;
}

